#contact{
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    font-family: 'NeueMachina';
    gap: 28px;
    margin: 20px 0;
    padding: 62px 35px 62px 35px;
    color: #E8E8E8;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px -14px 60px -30px rgba(255, 255, 255, 0.25) inset;
    backdrop-filter: blur(77px);

}
#contact-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.10);
    padding: 0px 20px 20px 20px;
}
#contact-page h2{
    margin: 20px;
}
#contact-app{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#contact-join{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact-elements{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 189px;
    height: 189px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
}
.contact-elements img{
    width: 52px;
    height: 52px;
}