#container-1{
    position: relative;
    width: 782px;
}

.fade-in{
    
    visibility: visible !important;
    transition: 1s;
    animation: fadeIn 0.1s;
    width: 100%;
}
.fade-out{
    z-index: -2 !important;
    transition: 1.5s;
    animation: fadeOut 1.5s;
    visibility: hidden !important;
}
#containers{
    position: absolute;
    
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        z-index: -2;
        
    }
    50%{
        opacity: 0;
        z-index: -1;
        
    }
    70%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
        
    }
}
@keyframes fadeOut {
    0%{
        .projets-img{
            transition: none !important;
        }
        opacity: 1;
        z-index: -2;
    }
    30%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        
    }
}
@media (min-width: 1024px){
    #containers{
        position: absolute;
        left: -500px;
    }
    .fade-in{
        left: 0 !important;
    }
}
