body{
    background-image: radial-gradient(at 75.27895509149111% 0.5773753774876322%, hsl(174 90% 25% / 1) 0%, hsla(0, 0%, 0%, 0.829) 100%), radial-gradient(at 0.4266225666643475% 5.528394965410266%, hsl(170 71% 1% / 1) 0%, hsl(169deg 95% 8% / 0%) 100%), radial-gradient(at 60.35301079835846% 72.06783371715413%, hsl(176 24% 1% / 1) 0%, hsl(175deg 21% 12% / 0%) 100%), radial-gradient(at 71.16418604161032% 35.180579200451476%, hsl(174 90% 3% / 1) 0%, hsl(174deg 90% 39% / 0%) 100%), radial-gradient(at 1.0276985875749656% 61.865989624052006%, hsl(170 71% 1% / 1) 0%, hsl(169deg 95% 8% / 0%) 100%), radial-gradient(at 41.53087982965209% 97.80080695687462%, hsl(0deg 0% 1% / 60%) 0%, hsl(176deg 24% 12% / 0%) 100%), radial-gradient(at 74.30428428307421% 31.600892365070642%, hsl(174 90% 20% / 1) 0%, hsl(174deg 90% 39% / 0%) 100%), radial-gradient(at 50.65795065014744% 36.70784789682568%, hsl(170deg 71% 1% / 69%) 0%, hsl(169deg 95% 8% / 0%) 100%), radial-gradient(at 70.38634555438999% 69.59425649429124%, hsl(0deg 0% 1% / 70%) 0%, hsl(176deg 24% 12% / 0%) 100%);    
    background-blend-mode: color-dodge;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;

}
#home{
    display: flex;
}

.side-div{
    width: 710px;
}

@media (max-width: 1345px){
    .side-div{
        width: 400px !important;
    }
    #container-1{
        width: 470px !important;
    }
    
    .hard-skills-sidebar{
        width: calc(255px / 1.7) !important;
    }
    .soft-skills-img{
        width: calc(55px / 1.5) !important;
        height: calc(55px / 1.5) !important;
    }
    .soft-skills p{
        font-size: 12px !important;
        width: 59px !important;
        text-align: center;
    }
    #icons{
        gap: 10px !important;
        align-self:start !important;
    }
    #skill2{
        padding: 0 5px;
    }
    #about1{
        flex-direction: column;
    }
    #about1 div{
        height: 260px !important;
        width: 100% !important;
    }
    #contact-infos{
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    #profil{
        width: 300px !important;
        height: 670px !important;
    }
    #profil1{
        height: 291px !important;
    }
    #profil2{
        height: 60% !important;
        justify-content: space-between !important;
    }
    #identite{
        margin-top: 50px;
    }
    #btn-profil{
        gap: 10px;

    }
    #btn-profil div a{
        width: calc(201px / 1.7) !important;
        height: calc(55px / 1.7) !important;
    }
    #containers{
        left: -300px ;
    }
    #photo-profil{
        scale: 1.5 !important;
        left: 20px !important;
        top: 20px ;
        
    }
    #profil1{
        overflow: hidden !important ;
    }
    
}
@media (max-width: 720px) {
    #home{
        flex-direction: column;
    }
    #profil{
        width: 752px !important;
        height: 990px !important;
        justify-content: space-between;

    }
    #profil1{
        height: 850px !important;
    }
}