@font-face {
    font-family: 'NeueMachina';
    src: url(../../../assets/font/PPNeueMachina-PlainRegular.otf);
}

#profil{
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 5px;
    width: 476px;
    height: 670px;
    z-index: 3;
}


#profil1{
    background: white;
    width: 100%;
    height: 462px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
#profil2{
    width: 100%;
    height: 208px; 
    display: flex;
    flex-direction: column;
    background-color: rgba(32, 64, 61, 1);
    color: white;
    border-radius: 0 0 20px 20px;
    
}
#identite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height:50%;
    
}
#photo-profil{
    width: 100%;
    height: 100%;
    scale: 1.3;
    position: relative;
    left: 35px;
    object-fit: cover;
    
}
#name{
    margin: 23px 0 12px 0;
    font-family: 'NeueMachina';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#domaine{
    margin-top: 0;
    font-size: 22px;
    font-family: 'NeueMachina';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 0px 20px #0ABFAD;

}
#btn-profil{
    display:flex;
    justify-content: space-between;
    padding: 21px;
    height: 50%;
    font-family: 'NeueMachina';
    
}
#btn-profil #btn-cv{
    width: 201px;
    height: 55px;
    background: #90D0C9;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    text-decoration: none;
    color: white;
    
}
#btn-profil #btn-contact{
    width: 201px;
    height: 55px;
    background: #0ABFAD;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    text-decoration: none;
    color: white;
}

